<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd" >
<suite name="MyTestSuite" verbose="1" thread-count="5" parallel="methods">
<!--    <listeners>-->
<!--<listener class-name="demowebshop_tricentis.Listeners.testListener"></listener>-->
<!--    </listeners>-->

    <test name="PackageTest"  >
<!--        <packages>-->
<!--            <package name="demowebshop_tricentis.Frameworked_tcs" />-->
<!--        </packages>-->


        <classes>
            <class name="Runner.Testng_Runner"/>
        </classes>
    </test>



</suite>